@import "Styles/variables"
@import "Styles/mixins"

.posts-container
  +center-block()
  position: static

  > .posts
    width: 700px
    height: 100%
    margin-top: 60px
    display: flex
    flex-direction: column
    gap: 20px
    pointer-events: auto

