@import "Styles/reset"
@import "Styles/fonts"
@import "Styles/cssvariables"

#root
  width: 100vw
  height: 100vh
  position: absolute
  inset: 0
  overflow: hidden
  z-index: 0
  background: var(--color-surface)
  font-family: Montserrat, sans-serif